	body {
		background: url(fons.png) no-repeat;
		background-size: cover;
	}
	.cos {
		width: 900px;
		margin: auto; /* ?? */
		background-color: #707070;
		border-radius: 20px;
	}
	.menu {
		float: right;
		margin-top: 48px;
		margin-bottom: 20px;
	}
	.menu li { /* Posar elements llista en horitzontal */
		display: inline;
	}	
	.menu a {
		color: #F2CB05;
		text-decoration: none;
		padding: 20px;
		font-weight: bold;
	}
	.menu a:hover{
		background-color: black;
	}
	.capçalera img {
		padding: 10px;
	}
	.fila {
		text-align: center;
	}
	.columnes {
		width: 270px;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		padding: 10px;
	}
	.columnes p {
		text-align: justify;
	}
	.columnes h2 {
		height: 54px;
		color: #F2CB05;
		text-shadow: 1px 1px #0D0D0D;
	}
	.footer {
		overflow: hidden;
	}
	.footer a {
		text-decoration: none;
		color: #F2CB05;
	}
	.footer > a {
		float: left;
		margin-left: 10px;
		margin-top: 20px;
	}
	.footer .menu {
		margin-top: 20px;
	}
	.autors-div {
		position: relative;	
		padding: 20px;
	}
	.autors h2 {
		display: inline-block;
		position: absolute;
		top: 45%;
		margin: 0;
		padding-left: 20px;
	}
